<!DOCTYPE html>
<html>
	<head>
		<title> LogIt - Statistics </title>
		<link rel="stylesheet" href="/stylesheets/statistics.css">
	</head>
	<body>
		
		<!-- banner for the page  -->
		<div id="banner">
			<!-- <input type="text" name="search" placeholder="Search.."> -->
			<h1 id="webpageName"> LogIt - Statistics</h1>
		</div>
		
		<div class="graph-container">
			<div class="line-container">
				<canvas id="lineChart"> </canvas>
			</div>
			<div class="bar-container">
				<canvas id="barChart"></canvas>
			</div>
		</div>
		
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script src="/javascripts/statistics.js"></script>
	</body>
</html>