<!DOCTYPE html>
<html>
	<head>
		<title> LogIt - Statistics </title>
		<link rel="stylesheet" href="/stylesheets/statistics.css">
	</head>
	<body>
		
		<!-- banner for the page  -->
		<div id="banner">
			<h1 id="webpageName"> LogIt - Statistics</h1>
		</div>
		
		<div class="inner-page">

			<h5 class='date' id='stats_date'> <%= app_data.date %> </h5>
			<div class="graph-container">
				
				The line chart provides a comparison between productive and unproductive logged times
				throughout the week.	
				<div class="line-text-container">
					<div class="line-options-container">
						
						View options - 

						<select class='line-options'>
							<option> Up to Today </option>
							<option> Mon-Sun </option>
							<option> Sun-Sat </option>
						</select>
					</div>
				</div>

				<div class="line-container">
					<canvas id="lineChart"> </canvas>
				</div> <!-- line-container -->
				
				<div class="line-text-container">
					<div class="line-options-container">
						
						View options - 

						<select class='line-options'>
							<option> Week </option>
							<option> Month </option>
							<option> Year </option>
						</select>
					</div>
				</div>

				<div class="bar-container">
					<canvas id="barChart"></canvas>
				</div> <!-- bar container-->

				<div class="line-text-container">
					<div class="line-options-container">
						
						View options - 

						<select class='line-options'>
							<option> Week </option>
							<option> Month </option>
							<option> Year </option>
						</select>
					</div>
				</div>
				
				<div class="doughnut-container">
					<canvas id="doughnutChart"></canvas>
				</div> <!-- doughnut container-->

			</div> <!-- graph container-->
		</div> <!-- inner page -->
		
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="https://cdnjs.cloudflare.com/ajax/libs/Chart.js/2.4.0/Chart.min.js"></script>
		<script src="/javascripts/statistics.js"></script>
	</body>
</html>