<!DOCTYPE html>
<html>
	<head>
		<title> Clusters </title>
		<link rel="stylesheet" href="/stylesheets/stylesheet.css">
		<!---<script src="app.js"> -->
	</head>
	<body>
		
		<div id="banner">
			<input type="text" name="search" placeholder="Search..">
			<h1 id="webpageName"> Clusters </h1>
		</div>
		<div class="square" id="square1"><a href="file:///C:/Users/Brandon%20Paw/Documents/Personal/Webpage/views/Log.ejs"><p class="redsquare-p">click</p></a></div><!--
		--><div class="square" id="square2"></div><!--
		--><div class="square" id="square3"></div><!--
		--><div class="square" id="square4"></div>
	</body>
</html>