<!DOCTYPE html>
<html>
	<head>
		<title> LogIt </title>
		<link href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css" rel="stylesheet">
		<link rel="stylesheet" href="/stylesheets/homepage.css">
	</head>
	<body>

		<!-- banner for the page  -->
		<div id="banner">
			<!-- <input type="text" name="search" placeholder="Search.."> -->
			<h1 id="webpageName"> LogIt </h1>
		</div>

		<div class="square" id="square1">
			<i class="fa" aria-hidden="true"></i>
		</div>
		<div class="square" id="square2">
			<i class="fa" aria-hidden="true"></i>
		</div>
		<div class="square" id="square3">
			<i class="fa" aria-hidden="true"></i>
		</div>
		<div class="square" id="square4">
			<i class="fa" aria-hidden="true"></i>
		</div>

		<div class="animation-container">

			<div class="animation-container-space">
			</div>

			<div class="animation-text-container">
				<p id="greeting"></p>
				<p id="about"></p>
				<p id="prompt"></p>
				<a href="#tutorial-red"><i class="arrow-down-red fa-3x" aria-hidden="true"></i></a>
			</div>
		</div>

		<div class="tutorial" id="tutorial-red">

			<div class="tutorial-space">

			</div>

			<div class="tutorial-red-content-container">

				<h3 class="tutorial-title">
					Log:
				</h3>
				Hover over the red section of the banner. <br><br>
				The page that drops down will allow you to access the logging journal where you can record how your day went. The information you log will be used to track your productivity. <br><br>
				Start <em>logging</em> today to begin your productivity tracking!

			</div>
			<img src="/images/tutorial-red.png">

			<div class="tutorial-button">
				<a href="#tutorial-orange"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
			</div>
		</div>

		<div class="tutorial" id="tutorial-orange">
			<div class="tutorial-space">

			</div>

			<div class="tutorial-orange-content-container">

				<h3 class="tutorial-title">
					Visualize:
				</h3>
				Hover over the orange section of the banner. <br><br>
				The page that drops down will allow you to access the statistics page. <br><br>
				Use that page to <em>visualize</em> the data from your logs! <br><br>
				<br>

			</div>
			<img src="/images/tutorial-orange.png">
			<div class="tutorial-button">
				<a href="#tutorial-green"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
			</div>
		</div>

		<div class="tutorial" id="tutorial-green">
			<div class="tutorial-space">

			</div>

			<div class="tutorial-green-content-container">

				<h3 class="tutorial-title">
					Recall:
				</h3>
				Hover over the green section of the banner. <br><br>
				The page that drops down will allow you to access the calendar page. <br><br>
				This page allows you to view your data from previous days. <br><br>
				Click on a date to <em>review</em> your data!
				<br>
			</div>
			<img src="/images/tutorial-green.png">
			<div class="tutorial-button">
				<a href="#tutorial-blue"><i class="fa fa-arrow-circle-down" aria-hidden="true"></i></a>
			</div>
		</div>

		<div class="tutorial" id="tutorial-blue">
			<div class="tutorial-space">

			</div>

			<div class="tutorial-blue-content-container">

				<h3 class="tutorial-title" id="special-title">
					Organize:
				</h3>
				Hover over the blue section of the banner. <br><br>
				The page that drops down will allow you to access the LogIt checklist. <br><br>
				Go to this page to log tasks that you want keep track of. <br><br>
				Check this page out so you can start <em>checking off</em> those tasks!
				<br>

			</div>
			<img src="/images/tutorial-blue.png">
			<div class="tutorial-button">
				<a href="#banner"><i class="fa fa-arrow-circle-up" aria-hidden="true"></i>
				</a>
			</div>
		</div>


		<footer>
			<div class="footer-div">
				<a href='https://github.com/bpaw' class="footer-anchor"> github.com/bpaw </a>
				<a href='https://www.linkedin.com/in/brandonpaw' class="footer-anchor"> linkedin.com/in/brandonpaw </a>
			</div>
		</footer>

		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
		<script src="/javascripts/homepage.js"></script>
	</body>
</html>
