html {
	overflow-y: scroll;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Avenir", "Arial", sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #e9eaea;
}

#banner {
	height: 10vh;
	width: 100%;
	background-color: rgb(133,198,169);
	padding: 20px 0 10px 0;
	display: inline-block;
	text-align: center;
}

.bar-container {
	margin-right: auto;
	margin-left: auto;
	width: 40vw;
}

.calendar-banner {
	background-color: gray;
	color: white;
	display: inline-block;
	font-size: 1.5em;
	height: 8vh;
	padding-top: 1em;
	text-align: center;
	width: 100%;
}

.calendar-banner-left {
	background-color: gray;
	color: white;
	cursor: pointer;
	display: inline-block;
	height: 8vh;
	text-align: center;
	vertical-align: top;
	left: 0%;
	position: relative;
	width: 5%;
}

.calendar-banner-right {
	background-color: gray;
	color: white;
	cursor: pointer;
	display: inline-block;
	height: 8vh;
	text-align: center;
	vertical-align: top;
	right: 0%;
	position: relative;
	width: 5%;
}

.calendar-banner-title {
	display: inline-block;
	padding: 0px 1vw;
	width: 50%;
}

.calendar-container {
	background-color: white;
	border: .1em solid gray;
	height: 40vh;
	margin-bottom: 1.5em;
	margin-left: auto;
	margin-right: auto;
	margin-top: 1.5em;
	width: 40vw;
}

.calendar-container-container {
	background-color: white;
	border: .05em solid gray;
	margin: 2em 0px;
}

.calendar-header-day {
	padding: .5em;
	padding-bottom: .75em;
}

.calendar-day {
	text-align: center;
}

.calendar-day-hover {
	background-color: rgba(133,198,169,.4);
	color: gray;
	cursor: pointer;
}

.calendar-table {
	font-family: "Helvetica Neue", "Helvetica", "Avenir", "Arial", sans-serif;
	font-size: .75em;
}

.col-left {
	display: inline-block;
	height: 40vh;
	width: 49%;
	vertical-align: top;
	padding-top: 5vh;
}


.col-left-date {
	width: 50%;
	margin: 0px auto 0px auto;
	text-align: center;
	padding: 1em;
}

.col-left-month {
	font-size: 3em;
	font-weight: bolder;
	margin-top: 0;
	margin-bottom: 0;
}

.col-left-year {
	margin-top: 0;
}

.col-right {
	display: inline-block;
	height: 40vh;
	width: 49%;
	padding-top: 3vh;
}

.day-grid {
	height: 15vh;
	width: 80%;
}

.day-labels {
	height: 5vh;
	width: 80%;
}

.footer {
	color: #95979a;
	height: 10vh;
	margin-bottom: 0px;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	width: 75%;
}

.footer-anchor {
	color: #254459;
	text-decoration: none;
	margin-left: 3em;
}

.graph-container {
	background-color: white;
	font-family: "Helvetica Neue", "Helvetica", "Avenir", "Arial", sans-serif;
	font-family: .8em;
	width: 100%;
	margin-top: 2.5em;	
	margin-bottom: 2.5em;
}

.inner-page {
	border-radius: .1em;
	margin: 2em auto 2em auto;
	padding: 0px 0px 0px 0px;
	width: 75%;	
	height: 100%;
}

.li-time {
	width: 30%;
	display: inline-block;
	margin-right: 20%;
}

.li-description {
	width: 35%;
	display: inline-block;
	right: 0;
}

.log-list-container {	
	background-color: white;
	height: 100%;
	padding: 0px 0px 0px 0px;
	width: 100%;
}

.log-list-container-full {
	background-color: white;
	height: 500px;
	padding: 0px 0px 0px 0px;
	width: 50%;
	margin-left: auto;
	margin-right: auto;
	overflow: scroll;
}

.log-list {
	color: black;
	list-style: none; 
}

.log-header {
	text-align: left;
	font-family: 'Helvetica Neue', 'Helvetica', 'Avenir', 'Arial', sans-serif;
	font-size: 1.2em;
	color: black;
	padding-bottom: .2em;
}

.log-subheader {
	color: rgb(90,90,90);
	font-size: .75em;
	font-family: 'Helvetica Neue', 'Helvetica', 'Avenir', 'Arial', sans-serif;
}

.log-header-container {
	position: relative;
	background-color: white;
	width: 25%;
	left: 10%;
}

.log-list-style {
	font-family: 'Helvetica Neue', 'Helvetica', 'Avenir', 'Arial', sans-serif;
	font-size: .8em;
	margin-bottom: 1em; 
	padding-bottom: 1em;
	margin-left: 1em;
	border-bottom: .01em dotted gray;
	width: 85%;
	color: black;
}

.past-log-header {
	margin-bottom: 2em;
}

.statistics-header {
	margin-top: 2em;
}

.view-container {
	background-color: white;
	border: .05em solid gray;
	width: 100%;
	padding-top: 2em;
	padding-bottom: 2em;
}

#webpageName {
	color: white;
	font-family: monospace;
	display: inline-block;
}

.menu {
	color: white;
	width: 50vw;
}

.menu-li {
	list-style-type: none;
}

.menu-li li {
	float: left;
	padding: 1em;
	cursor: pointer;
}

.title-container {
	width: 50%;
	float: left; 
}