html {
	overflow-y: scroll;
}

#banner {
	height: 10vh;
	width: 100%;
	background-color: rgb(105,210,231);
	padding: 20px 0 10px 0;
	display: inline-block;
}

#webpageName {
	color: white;
	font-family: monospace;
	display: inline-block;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Avenir", "Arial", sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #e9eaea;
	color: white;
	position: relative;
	overflow: hidden;
	left: 0;
}

.check-description {
	width: 30%;
	display: inline-block;
}

.check-start {
	width: 30%;
	display: inline-block;
}

.checklist-date {
	color: #2F4F4F;
}

.checklist-header {
	text-align: left;
	font-family: 'Helvetica Neue', 'Helvetica', 'Avenir', 'Arial', sans-serif;
	font-size: 1.2em;
	color: black;
	padding-bottom: .2em;
	margin: 1em;
}

.checklist-subheader {
	margin-top: 3em;
}

.checklist-generator {
	background-color: white;
	border: .05em solid gray;
	height: 20vh;
	width: 100%;
}

.checklist-generator-buttons {
	width: 100%;
	color: white;
	border-top: .01em solid gray;;
	height: 5vh;
	margin-top: 1.5em;
	padding: .75em 0;
	text-align: center;
}

.checklist-generator-button-cancel {
	background-color: gray;
	border-radius: .2em;
	cursor: pointer;
	float: left;
	left: 65%;
	margin: 0px 0px 0px 5%;
	padding: .25em;
	position: relative;
	width: 10%;
}

.checklist-generator-button-post {
	background-color: rgb(105,210,231);
	border-radius: .2em;
	cursor: pointer;
	float: left;
	left: 65%;
	margin: 0px 0px 0px 5%;
	padding: .25em;
	position: relative;
	width: 10%;
}

.checklist-generator-date {
	color: gray;
	display: inline-block;
	height: 2.5em;
	width: 49%;
}

.checklist-generator-task {
	color: gray;
	display: inline-block;
	height: 2.5em;
	width: 49%;
	vertical-align: top;
}

.checklist-log {
	color: black;
	background-color: white;
	border: .05em solid gray;
	margin: 1em 0;
	width: 100%;
	cursor: default;
}

.fa-check-square-o {
	margin: 0 1em 0 0;
	color: teal;
	cursor: pointer;
}

.fa-square-o {
	margin: 0 1em 0 0;
	cursor: pointer;
}

.inner-page {
	margin: 2em auto 2em auto;
	padding: 0px 0px 0px 0px;
	width: 75%;	
	height: 100%;
	border-radius: .1em;
}

.input-checklist {
	margin-left: auto;
	margin-right: auto; 
	margin: 2.5em;
}

#input-task {
	width: 15vw;
}

.checklist-body li {
	list-style-type: none;
	margin: 1em 0;
}

.menu {
	color: white;
	width: 33vw;
	display: inline-block;
	margin: 0;
	margin-right: 5vw;
}

.menu-li {
	list-style-type: none;
}

.menu-li li {
	display: inline-block;
	padding: 1em;
	cursor: pointer;
}

.task-complete {
	color: gray;
}

.title-container {
	display: inline-block;
}

.start-time-container {
	display: inline-block;
}

li div {
	display: inline-block;
}

.fa-pencil {
	color: gray;
	cursor: pointer;
	margin-right: .5em;
}

.fa-trash-o {
	color: gray;
	cursor: pointer;
}

.check-button {
	color: teal;
	cursor: pointer;
	display: inline-block;
	margin-left: 1em;
}

.x-button {
	color: #ef5350;
	cursor: pointer;
	display: inline-block;
	margin-left: 1em;
}
