.animation-container {
	height: 84.8vh;
	width: 100%;
}


.animation-container-space {
	height: 30vh;
}

.animation-text-container {
	color: gray;
	text-align: center;
}

.animation-text-container p {
	font-size: 1.5em;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Avenir", "Arial", sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.fa {
	color: white;
	position: relative;
	left: 35%;
	top: 30%;
}

.footer-div {
	background-color: white;
	color: black;
	height: 10vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	width: 100%;
}

.footer-anchor {
	color: #254459;
	text-decoration: none;
	margin-left: 3em;
}

#webpageName {
	border: .1em solid gray;
	color: gray;
	cursor: pointer;
	font-family: monospace;
	display: inline-block;
	padding: .05em;
}

.square {
	border-style: solid;
	border-color: white;
	border-width: 0px;
	width: 25%;
	height: 3vh;
	float: left;
	margin: 0px;
	padding: 0px;
}


.square-hover {
	cursor: pointer;
	height: 30vh;
}

#square1 {
	background-color: rgb(217,61,4);
}

#square2 {
	background-color: rgb(242,116,5);
}

#square3 {
	background-color: rgb(133,198,169);
}

#square4 {
	background-color: rgb(105,210,231);
}

#banner {
	height: 10vh;
	width: 100%;
	padding: 20px 0 10px 0;
	display: inline-block;
	text-align: center;
}

.Greeting-container {
	height: 55vh;
	margin: 0;
}

.Greeting {
	border: .1em solid gray;
	font-family: "Helvetica Nueu", "Avenir", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	height: 10em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 95%;
}

.tutorial {
	width: 100%;
	height: 100vh;
	color: white;
	font-size: 1.5em;
}

.tutorial-button{
	height: 10vh;
	padding-top: 12vh;
	position: absolute;
	left: 50%;
}

.tutorial-space {
	height: 10vh;
	width: 100%;
}

#tutorial-red {
	background-color: rgb(217,61,4);
}

.tutorial-red-content-container {
	color: white;
	background-color: rgb(217,61,4);
	display: inline-block;
	width: 50%;
	height: 60vh;
	padding: 0 0;
	padding-left: 10vw;
}

.tutorial-title {
	border-bottom: 1px solid white;
	padding-bottom: .1em;
	margin-bottom: 2em;
	width: 80vw;
}

#tutorial-orange {
	background-color: rgb(242,116,5);
}

.tutorial-orange-content-container {
	color: white;
	background-color: rgb(242,116,5);
	display: inline-block;
	width: 50%;
	height: 60vh;
	padding: 0 0;
	padding-left: 10vw;
}

#tutorial-green {
	background-color: rgb(133,198,169);
}

.tutorial-green-content-container {
	color: white;
	background-color: rgb(133,198,169);
	display: inline-block;
	width: 50%;
	height: 60vh;
	padding: 0 10vw;
	padding-right: 0;
}

#tutorial-blue {
	background-color: rgb(105,210,231);
}

.tutorial-blue-content-container {
	color: white;
	background-color: rgb(105,210,231);
	display: inline-block;
	width: 50%;
	height: 60vh;
	padding: 0 0;
	padding-left: 10vw;
}

.arrow-down-red-active {
	color: gray;
	cursor: pointer;
	position: absolute;
	left: 50%;
	top: 85%;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 30%;
}

img {
	border: .1em solid white;
	width: 35vw;
	height: 40vh;
	position: relative;
	right: 0;
	top: 25%;
}

#special-title {
	margin-bottom: 1em;
}
