body {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.footer-div {
	background-color: #D4D5D6;
	color: #95979a;
	height: 10vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	width: 100%;
}

.footer-anchor {
	color: #254459;
	text-decoration: none;
	margin-left: 3em;
}

#webpageName {
	color: white;
	font-family: monospace;
	display: inline-block;
	margin-left: 47.5%;
}

.square {
	border-style: solid;
	border-color: white;
	border-width: 0px;
	width: 25%;
	height: 30vh;
	display: inline-block;
	margin: 0px;
	padding: 0px;
}


.square-hover {
	cursor: pointer;
}

#square1 {
	background-color: rgb(217,61,4);
}

#square2 {
	background-color: rgb(242,116,5);
}

#square3 {
	background-color: rgb(133,198,169);
}

#square4 {
	background-color: rgb(105,210,231);
}

#banner {
	height: 10vh;
	width: 100%;
	background-color: gray;
	padding: 20px 0 10px 0;
	display: inline-block;
}

.Greeting-container {
	height: 55vh;
	margin: 0; 
}

.Greeting {
	border: .1em solid gray;
	font-family: "Helvetica Nueu", "Avenir", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	height: 10em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 95%;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 30%;
}
