.animation-container {
	height: 84.8vh;
	width: 100%;
}


.animation-container-space {
	height: 30vh;
} 

.animation-text-container {
	color: gray;
	text-align: center;
}

.animation-text-container p {
	font-size: 1.5em;
}

body {
	font-family: "Helvetica Neue", "Helvetica", "Avenir", "Arial", sans-serif;
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
}

.fa {
	color: white;
	position: relative;
	left: 35%;
	top: 30%;
}

.footer-div {
	background-color: #D4D5D6;
	color: #95979a;
	height: 10vh;
	margin-left: auto;
	margin-right: auto;
	padding-top: 1em;
	width: 100%;
}

.footer-anchor {
	color: #254459;
	text-decoration: none;
	margin-left: 3em;
}

#webpageName {
	border: .1em solid gray;
	color: gray;
	cursor: pointer;
	font-family: monospace;
	display: inline-block;
	padding: .05em;
	margin-left: 47.5%;
}

.square {
	border-style: solid;
	border-color: white;
	border-width: 0px;
	width: 25%;
	height: 3vh;
	float: left;
	margin: 0px;
	padding: 0px;
}


.square-hover {
	cursor: pointer;
	height: 30vh;
}

#square1 {
	background-color: rgb(217,61,4);
}

#square2 {
	background-color: rgb(242,116,5);
}

#square3 {
	background-color: rgb(133,198,169);
}

#square4 {
	background-color: rgb(105,210,231);
}

#banner {
	height: 10vh;
	width: 100%;
	padding: 20px 0 10px 0;
	display: inline-block;
}

.Greeting-container {
	height: 55vh;
	margin: 0; 
}

.Greeting {
	border: .1em solid gray;
	font-family: "Helvetica Nueu", "Avenir", "Helvetica", "Arial", sans-serif;
	font-size: 1em;
	height: 10em;
	margin-left: auto;
	margin-right: auto;
	text-align: center;
	width: 95%;
}

.tutorial {
	width: 100%;
	height: 100vh;
}

#tutorial-red {
	background-color: rgb(217,61,4);
}

#tutorial-orange {
	background-color: rgb(242,116,5);
}

#tutorial-green {
	background-color: rgb(133,198,169);
}

#tutorial-blue {
	background-color: rgb(105,210,231);
}


.arrow-down-red-active {
	color: gray;
	cursor: pointer;
	position: relative;
	left: 0%;
}

/* When the input field gets focus, change its width to 100% */
input[type=text]:focus {
    width: 30%;
}
