body {
	padding: 0px 0px 0px 0px;
	margin: 0px 0px 0px 0px;
	background-color: #e9eaea;
	font-family: "Helvetica Neue", "Helvetica", "Avenir", "Arial", sans-serif;
}

#banner {
	height: 10vh;
	width: 100%;
	background-color: rgba(242,116,5,1);
	padding: 20px 0 10px 0;
	display: inline-block;
}

.date {
	font-family: "Arial", sans-serif;
	color: gray;
	margin-left: 10%;
}

.doughnut-container {
	width: 80%;
	margin-bottom: 1em;
	margin-top: 1em;
	margin-left: auto;
	margin-right: auto;
}

.graph-container {
	background-color: white;
	font-family: "Helvetica Neue", "Helvetica", "Avenir", "Arial", sans-serif;
	font-family: .8em;
	width: 40vw;
	margin-right: auto;
	margin-left: auto;
	margin-top: 2.5em;	
	margin-bottom: 2.5em;
	padding-left: 5vw;
	padding-right: 5vw;
	padding-bottom: 2.5vh;
	padding-top: 2.5vh;
}

.inner-page {
	background-color: white;
	border: 1px solid gray;
	border-radius: .1em;
	margin: 2em auto 2em auto;
	padding: 0px 0px 0px 0px;
	width: 75%;	
	height: 100%;
}

.line-container {
	margin-bottom: 5vh;
}

.text-container {
	font-family: "Helvetica Neue", "Helvetica", "Avenir", "Arial", sans-serif;
	font-size: .8em;
	margin-bottom: 1em;
	margin-top: 1em;
	width: 60%;
}

.bar-container {
}

#webpageName {
	color: white;
	font-family: monospace;
	display: inline-block;
}

.menu {
	color: white;
	width: 33vw;
	display: inline-block;
	margin: 0;
	margin-right: 5vw;
}

.menu-li {
	list-style-type: none;
}

.menu-li li {
	display: inline-block;
	padding: 1em;
	cursor: pointer;
}

.title-container {
	display: inline-block;
}